<h1 class="mat-h1">Sign in</h1>
<p class="mt-2">
  Don't have an account?
  <a class="text-cyan-500" [routerLink]="['/auth/registration']">Sign up now</a>
</p>
<form mat-form class="flex-col mt-10" (ngSubmit)="submit()" [formGroup]="form">
  <h4 class="mat-h4 font-bold">Email</h4>
  <mat-form-field class="min-w-full" appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      formControlName="email"
      [formControl]="email"
      autocomplete
      required
    />
    <ng-container *ngFor="let validation of signInValidation.email">
      <mat-error
        *ngIf="
          emailInput.hasError(validation.type) &&
          (emailInput.dirty || emailInput.touched)
        "
      >
        {{ validation.message }}</mat-error
      >
    </ng-container>
  </mat-form-field>

  <h4 class="mat-h4 font-bold">Password</h4>
  <mat-form-field class="min-w-full" appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input
      matInput
      placeholder="minimum 8 symbols"
      [formControl]="password"
      required
    />
    <ng-container *ngIf="password.invalid">
      <mat-error>{{ getErrorMessage() }}</mat-error>
    </ng-container>
  </mat-form-field>
  <button
    mat-button
    class="bg-indigo-500 color-neutral-100 min-w-full text-center"
    type="submit"
  >
    Sign in
  </button>
</form>
