<h1 class="mat-h1 pt-16">Create account</h1>
<p class="mt-2">
  Already have an account?
  <a class="text-cyan-500" [routerLink]="['/login']">Sign in</a>
</p>
<form mat-form class="flex-col mt-10" [formGroup]="form" (ngSubmit)="submit()">
  <h4 class="mat-h4 font-bold">Your name</h4>
  <mat-form-field class="min-w-full" appearance="fill">
    <mat-label>Enter your first name</mat-label>
    <input
      matInput
      placeholder="First name"
      [formControlName="userName"
      ]
      type="text"
      required
    />

    <ng-container *ngFor="let validation of registrationValidation.userName">
      <mat-error
        *ngIf="
          userName.hasError(validation.type) &&
          (userName.dirty || userName.touched)
        "
        >{{ validation.message }}</mat-error
      >
    </ng-container>
  </mat-form-field>

  <h4 class="mat-h4 font-bold">Email</h4>
  <mat-form-field class="min-w-full" appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      [formControlName="email"
      ]
      required
    />
    <ng-container *ngFor="let validation of registrationValidation.email">
      <mat-error *ngIf="email.invalid">{{ validation.message }}</mat-error>
    </ng-container>
  </mat-form-field>

  <h4 class="mat-h4 font-bold">Password</h4>
  <mat-form-field class="min-w-full" appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input
      matInput
      placeholder="At least 6 characters"
      [formControlName="password"
      ]
      required
    />
    <ng-container *ngFor="let validation of registrationValidation.email">
      <mat-error *ngIf="password.invalid">{{ validation.message }}</mat-error>
    </ng-container>
  </mat-form-field>
  <h4 class="mat-h4 font-bold">Re-enter password</h4>
  <mat-form-field class="min-w-full" appearance="fill">
    <mat-label>Enter your password again</mat-label>
    <input matInput [formControlName="confirmPassword" ] required />
    <ng-container *ngFor="let validation of registrationValidation.email">
      <mat-error *ngIf="password.invalid">{{ validation.message }}</mat-error>
    </ng-container>
  </mat-form-field>
  <button
    mat-button
    class="bg-indigo-500 color-neutral-100 min-w-full text-center"
    type="submit"
  >
    Continue
  </button>
</form>
