<div
  *ngIf="totalQuantity$ | async; else emptyCart"
  class="relative overflow-x-auto shadow-md sm:rounded-lg"
>
  <table
    class="min-h-[80vh] w-full text-sm text-left text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Image</span>
        </th>
        <th scope="col" class="px-6 py-3">Product</th>
        <th scope="col" class="px-6 py-3">Qty</th>
        <th scope="col" class="px-6 py-3">Price</th>
        <th scope="col" class="px-6 py-3">Action</th>
      </tr>
    </thead>

    <tbody
      class="tracking-wide"
      *ngFor="let element of cart$ | async as cart; index as i"
      trackByFn:element.id
    >
      <tr
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600"
      >
        <!-- IMAGE -->
        <td class="w-32 p-4">
          <img src="{{ element.product }}" alt="element.name" />
        </td>
        <!-- ITEM NAME -->
        <td class="px-6 py-4 text-xs font-medium text-gray-900 dark:text-white">
          {{ element.name }}
        </td>
        <!-- QTY -->
        <td class="px-6 py-4">
          <div class="flex items-center space-x-3">
            <button
              (click)="onDecreaseQuantity(element)"
              class="inline-flex items-center p-1 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
              type="button"
            >
              <span class="sr-only">Quantity button</span>
              <svg
                class="w-4 h-4"
                aria-hidden="true"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
            <div>
              <input
                type="number"
                id="first_product"
                class="bg-gray-50 w-14 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="{{ element.quantity }}"
                required
              />
            </div>
            <button
              (click)="onIncreaseQuantity(element)"
              class="inline-flex items-center p-1 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
              type="button"
            >
              <span class="sr-only">Quantity button</span>
              <svg
                class="w-4 h-4"
                aria-hidden="true"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
          </div>
        </td>
        <!-- PRICE -->
        <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
          {{ element.price | currency }}
        </td>
        <!-- ACTIONS -->
        <td class="px-6 py-4">
          <a
          (click)="onRemoveItem(element)"
            class="font-medium text-red-600 dark:text-red-500 hover:underline"
            >Remove</a
          >
        </td>
      </tr>
    </tbody>
    <tfoot class="tracking-wider">
      <tr class="font-semibold text-gray-900 dark:text-white dark:bg-gray-700">
        <th scope="row" class="px-6 py-3 text-base">Total</th>
        <td class="px-6 py-3">{{ totalQuantity$ | async }}</td>
        <th scope="row" class="px-6 py-3 text-base">Price</th>
        <td class="px-6 py-3">{{ totalPrice$ | async | currency }}</td>
        <button
          type="button"
          class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-0.5 mt-1"
        >
          Checkout
        </button>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #emptyCart>
  <app-error-page-layout [page]="'cart-empty'"></app-error-page-layout>
</ng-template>
