<div class="grid gap-10 place-content-center pb-5">
  <div class="container text-center pt-10">
    <h1 class="mat-h1">Sign in</h1>
    <p class="mt-2">
      Don't have an account?
      <a class="text-cyan-500" [routerLink]="['/auth/registration']"
        >Sign up now</a
      >
    </p>
    <form
      mat-form
      class="flex-col mt-10 mx-auto md:w-[55vw] xl:lg:w-[50vw] 2xl:w-[50vw] w-[80vw]"
      (ngSubmit)="submit()"
      [formGroup]="form"
    >
      <h4 class="mat-h3 font-bold">Email</h4>
      <mat-form-field class="min-w-full" appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="email"
          autocomplete
          required
        />
        <p *ngFor="let validation of signInValidation.email">
          <mat-error
            *ngIf="
              email.hasError(validation.type) && (email.dirty || email.touched)
            "
          >
            {{ validation.message }}</mat-error
          >
        </p>
      </mat-form-field>

      <h4 class="mat-h4 font-bold">Password</h4>
      <mat-form-field class="min-w-full" appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          autocomplete
          type="password"
          placeholder="minimum 8 symbols"
          formControlName="password"
          required
        />
        <p *ngFor="let validation of signInValidation.password">
          <mat-error
            *ngIf="
              password.hasError(validation.type) &&
              (password.dirty || password.touched)
            "
            >{{ validation.message }}</mat-error
          >
        </p>
      </mat-form-field>
      <button
        mat-button
        class="bg-slate-600 !text-slate-50 !min-w-full text-center disabled:bg-slate-400"
        type="submit"
        (click)="submit()"
        [disabled]="form.invalid"
      >
        Sign in
      </button>
    </form>
  </div>
</div>
