:host ::ng-deep {
  outline: none;
  button:disabled,
  button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
  }
}
.mat-list-item-content {
  padding: 0 !important;
  :disabled {
    cursor: not-allowed !important;
  }
  img .img {
    max-width: 40% !important;
  }
}

::ng-deep {
  .mat-menu-content .ng-tns-c53-1 {
    min-width: 100%;
    text-align: center;
  }
}
