<div class="bg-gray-100">
  <div class="container mx-auto py-8">
    <div class="flex mx-auto w-1/2">
      <form
        class="flex min-w-full"
        [formGroup]="searchForm"
        (ngSubmit)="onSearch()"
      >
        <input
          class="min-w-[70%] px-2"
          mat-input
          type="text"
          formControlName="search"
          placeholder="Search..."
        />
        <button
          class="bg-slate-500 text-gray-100 min-w-[30%]"
          mat-button
          (click)="onSearch()"
        >
          Search
        </button>
      </form>
    </div>
    <div class="flex justify-between mt-4 mx-5">
      <app-filters
        [categories]="categories$ | async"
        (showCategory)="onShowCategory($event)"
      ></app-filters>

      <app-products-header
        (columnsCountChange)="onColumnsCountChange($event)"
        (itemsCountChange)="onItemsCountChange($event)"
        (sortByPrice)="onSortByPrice($event)"
        (sortChange)="onSortChange($event)"
      >
      </app-products-header>
    </div>
    <mat-grid-list gutterSize="16" [cols]="cols" [rowHeight]="rowHeight">
      <mat-grid-tile *ngFor="let product of products$ | async">
        <app-product-box
          [product]="product"
          trackBy:product.id
          (addToCart)="onAddToCart($event)"
          class="w-full"
        >
        </app-product-box>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
